
body {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

header {
  position: relative;
  width: 100%;
  text-align: right;
  padding: 10px;
}


#themeToggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  color: inherit; 
}

#themeToggle:hover {
  opacity: 0.8;
}